# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
Directory: .idea
Directory: gradle
Directory: build
File: local.properties
Mask: *.iml
